<!DOCTYPE HTML>
<html>
  <head>
    <title><%= @title %></title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <script src="/static/javascripts/libs/jquery.min.js"></script>
    <script src="/static/javascripts/libs/handlebars.js"></script>
    <script src="/static/javascripts/libs/ember.js"></script>
    <script src="/static/javascripts/libs/ember-data.js"></script>
  </head>
  <body>
    <header></header>

    <section>
      <aside></aside>
    </section>

    <footer></footer>
  </body>
</html>
